@model Movisoft.MVC.Areas.Equipamiento.Models.VMEquipamiento
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    </environment>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>EQUIPAMIENTO</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#btnNuevo">
                            <i class="fa fa-plus"></i> Nuevo
                        </button>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>CÓDIGO</th>
                                <th>NOMBRE</th>
                                <th>ABREVIATURA</th>
                                <th>TOPOLOGÍA</th>
                                <th>TIPO EQUIPO</th>
                                <th>EMPRESA</th>
                                <th>ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaSetipequipo)
                            {
                                <tr>
                                    <td>@item.Equicodi</td>
                                    <td>@item.Equinombre</td>
                                    <td>@item.Equiabrev</td>
                                    <td>@item.Setopologia.Topnombre</td>
                                    <td>@item.Setipequipo.Tequinomb</td>
                                    <td>@item.Siempresa.Emprnomb</td>
                                    <td>
                                        <a href="#"><i class="fa fa-check text-navy"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="btnNuevo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Equipo</h4>
            </div>
            <div class="modal-body">
                <form id="frmEquipo">
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <label for="cboTopologia" class="col-sm-2 col-form-label">Topologia</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="cboTopologia" name="Topcodi">
                                <option disabled selected>[Selecionar]</option>
                                @foreach (var item in Model.ListSelectItems[0])
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cboTipoequipo" class="col-sm-2 col-form-label">Tipo Equipo</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="cboTipoequipo" name="Tequicodi">
                                <option disabled selected>[Selecionar]</option>
                                @foreach (var item in Model.ListSelectItems[1])
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <label for="cboEmpresa" class="col-sm-2 col-form-label">Empresa</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="cboEmpresa" name="Emprcodi">
                                <option disabled selected>[Selecionar]</option>
                                @foreach (var item in Model.ListSelectItems[2])
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="lblNombre" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lblNombre" name="Equinombre">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="lblAbrev" class="col-sm-2 col-form-label">Abreviatura</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="lblAbrev" name="Equiabrev">
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <environment names="Development">
        <script src="~/lib/toastr/toastr.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/toastr/toastr.min.js"></script>
    </environment>

    <script src="~/js/general.js" asp-append-version="true"></script>
    <script src="~/js/equipamiento/equipo.js" asp-append-version="true"></script>
}